<mat-nav-list class="navbar position-fixed">
  <h1 style="font-size: 40px" class="text-white mt-3 mb-3 text-center">
    GameHUB
  </h1>
  <a class="bg-white nav-item" mat-list-item routerLink="/home">Home</a>
  <a class="bg-white nav-item" mat-list-item routerLink="/cadastro">Cadastro</a>
  <a class="bg-white nav-item" mat-list-item routerLink="/login">Login</a>
  <a class="bg-white nav-item" mat-list-item routerLink="/jogo">Jogo</a>
  <a class="bg-white nav-item" mat-list-item routerLink="/biblioteca"
    >Biblioteca</a
  >
  <a class="bg-white nav-item" mat-list-item routerLink="/desenvolvedora"
    >Desenvolvedora</a
  >
  <a class="bg-white nav-item" mat-list-item routerLink="/categoria"
    >Categoria</a
  >
  <a class="bg-white nav-item" mat-list-item routerLink="/promocoes"
    >Promoções</a
  >
  <a class="bg-white nav-item" mat-list-item routerLink="/noticias">Notícias</a>
</mat-nav-list>
