<!-- <div class="sidebar" [ngClass]="{ 'expanded': isExpanded }">
    <div class="header">
      <h1 class="title">
        GameHub
      </h1>
      <div class="toggle" (click)="handleSidebarToggle()">
        <span class="chevron"></span>
      </div>
    </div>
    <div class="content">
      <div class="link">
        <div class="content" [routerLink]="['/home']" [routerLinkActive]="'active'">
          <div class="icon">
            <mat-icon>home</mat-icon>
          </div>
          <div class="title">Home</div>
        </div>
      </div>
      <div class="link with-children">
        <div class="content" [routerLink]="['/configuration']" [routerLinkActive]="'active'">
          <div class="icon">
            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">              <title>Stockholm-icons / Home / Flower2</title>
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Stockholm-icons-/-Home-/-Flower2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <polygon id="bound" points="0 0 24 0 24 24 0 24"></polygon>
                <circle id="Oval-32" fill="#000000" opacity="0.3" cx="15" cy="17" r="5"></circle>
                <circle id="Oval-32-Copy" fill="#000000" opacity="0.3" cx="9" cy="17" r="5"></circle>
                <circle id="Oval-32-Copy-2" fill="#000000" opacity="0.3" cx="7" cy="11" r="5"></circle>
                <circle id="Oval-32-Copy-3" fill="#000000" opacity="0.3" cx="17" cy="11" r="5"></circle>
                <circle id="Oval-32-Copy-4" fill="#000000" opacity="0.3" cx="12" cy="7" r="5"></circle>
              </g>
            </svg>
          </div>
          <div class="title">Configuration</div>
        </div>
        <div class="children">
          <div class="link">
            <div class="content" [routerLink]="['/configuration']" [queryParams]="{ 'child': '1' }"
              [routerLinkActive]="'active'">
              <div class="icon">
                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>Stockholm-icons / Home / Flower2</title>
                  <desc>Created with Sketch.</desc>
                  <defs></defs>
                  <g id="Stockholm-icons-/-Home-/-Flower2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <polygon id="bound" points="0 0 24 0 24 24 0 24"></polygon>
                    <circle id="Oval-32" fill="#000000" opacity="0.3" cx="15" cy="17" r="5"></circle>
                    <circle id="Oval-32-Copy" fill="#000000" opacity="0.3" cx="9" cy="17" r="5"></circle>
                    <circle id="Oval-32-Copy-2" fill="#000000" opacity="0.3" cx="7" cy="11" r="5"></circle>
                    <circle id="Oval-32-Copy-3" fill="#000000" opacity="0.3" cx="17" cy="11" r="5"></circle>
                    <circle id="Oval-32-Copy-4" fill="#000000" opacity="0.3" cx="12" cy="7" r="5"></circle>
                  </g>
                </svg>
              </div>
              <div class="title">child 1</div>
            </div>
          </div>
          <div class="link">
            <div class="content" [routerLink]="['/configuration']" [queryParams]="{ 'child': '2' }"
              [routerLinkActive]="'active'">
              <div class="icon">
                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>Stockholm-icons / Home / Flower2</title>
                  <desc>Created with Sketch.</desc>
                  <defs></defs>
                  <g id="Stockholm-icons-/-Home-/-Flower2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <polygon id="bound" points="0 0 24 0 24 24 0 24"></polygon>
                    <circle id="Oval-32" fill="#000000" opacity="0.3" cx="15" cy="17" r="5"></circle>
                    <circle id="Oval-32-Copy" fill="#000000" opacity="0.3" cx="9" cy="17" r="5"></circle>
                    <circle id="Oval-32-Copy-2" fill="#000000" opacity="0.3" cx="7" cy="11" r="5"></circle>
                    <circle id="Oval-32-Copy-3" fill="#000000" opacity="0.3" cx="17" cy="11" r="5"></circle>
                    <circle id="Oval-32-Copy-4" fill="#000000" opacity="0.3" cx="12" cy="7" r="5"></circle>
                  </g>
                </svg>
              </div>
              <div class="title">child 2</div>
            </div>
          </div>
          <div class="link">
            <div class="content" [routerLink]="['/configuration']" [queryParams]="{ 'child': '3' }"
              [routerLinkActive]="'active'">
              <div class="icon">
                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>Stockholm-icons / Home / Flower2</title>
                  <desc>Created with Sketch.</desc>
                  <defs></defs>
                  <g id="Stockholm-icons-/-Home-/-Flower2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <polygon id="bound" points="0 0 24 0 24 24 0 24"></polygon>
                    <circle id="Oval-32" fill="#000000" opacity="0.3" cx="15" cy="17" r="5"></circle>
                    <circle id="Oval-32-Copy" fill="#000000" opacity="0.3" cx="9" cy="17" r="5"></circle>
                    <circle id="Oval-32-Copy-2" fill="#000000" opacity="0.3" cx="7" cy="11" r="5"></circle>
                    <circle id="Oval-32-Copy-3" fill="#000000" opacity="0.3" cx="17" cy="11" r="5"></circle>
                    <circle id="Oval-32-Copy-4" fill="#000000" opacity="0.3" cx="12" cy="7" r="5"></circle>
                  </g>
                </svg>
              </div>
              <div class="title">child 3</div>
            </div>
          </div>
        </div>
      </div>
      <div class="link">
        <div class="content" [routerLink]="['/bookings']" [routerLinkActive]="'active'">
          <div class="icon">
            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>Stockholm-icons / Home / Flower2</title>
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Stockholm-icons-/-Home-/-Flower2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <polygon id="bound" points="0 0 24 0 24 24 0 24"></polygon>
                <circle id="Oval-32" fill="#000000" opacity="0.3" cx="15" cy="17" r="5"></circle>
                <circle id="Oval-32-Copy" fill="#000000" opacity="0.3" cx="9" cy="17" r="5"></circle>
                <circle id="Oval-32-Copy-2" fill="#000000" opacity="0.3" cx="7" cy="11" r="5"></circle>
                <circle id="Oval-32-Copy-3" fill="#000000" opacity="0.3" cx="17" cy="11" r="5"></circle>
                <circle id="Oval-32-Copy-4" fill="#000000" opacity="0.3" cx="12" cy="7" r="5"></circle>
              </g>
            </svg>
          </div>
          <div class="title">Bookings</div>
        </div>
      </div>
    </div>
    <div class="footer"></div>
  </div> -->

<!-- <div fxLayout="column" fxFlexFill>
  <mat-toolbar
    class="navbar-color mat-elevation-z8 p-0"
    fxLayout="row"
    fxLayoutAlign="start stretch"
    style="z-index: 2"
  > -->
<!-- <button mat-button (click)="drawer.toggle()"> -->
<!-- <button mat-button (click)="toggleTextDisplay()">      
      <mat-icon>menu</mat-icon>
    </button>

    <button mat-button routerLink="/" routerLinkActive="router-link-active">
      <mat-icon>home</mat-icon>
    </button>
    <span fxFlex></span>    
  </mat-toolbar>

  <mat-drawer-container fxFlex autosize class="background">
    <mat-drawer #drawer>
      <mat-list> -->
<!-- <div fxLayout="column"> -->
<!-- <button          mat-button
            routerLink="/"
            routerLinkActive="selected no-border txt-bold"
            fxLayoutAlign="start"
            class="py-2 pr-5">
            <mat-icon class="mr-2">home</mat-icon>
            <span *ngIf="showText">Home</span>
          </button>
          <mat-divider></mat-divider>
          <button
            mat-button
            routerLink="/page2"
            routerLinkActive="selected no-border txt-bold"
            fxLayoutAlign="start"
            class="py-2 pr-5"
          >
            <mat-icon class="mr-2">filter_2</mat-icon>Page 2
          </button>
          <mat-divider></mat-divider>
          <button
            mat-button
            routerLink="/page3"
            routerLinkActive="selected no-border txt-bold"
            fxLayoutAlign="start"
            class="py-2 pr-5"
          >
            <mat-icon class="mr-2">filter_3</mat-icon>Page 3
          </button>
          <mat-divider></mat-divider>
          <button
            mat-button
            routerLink="/page4"
            routerLinkActive="selected no-border txt-bold"
            fxLayoutAlign="start"
            class="py-2 pr-5"
          >
            <mat-icon class="mr-2">filter_4</mat-icon>Page 4
          </button>
          <mat-divider></mat-divider>
          <button
            mat-button
            routerLink="/page5"
            routerLinkActive="selected no-border txt-bold"
            fxLayoutAlign="start"
            class="py-2 pr-5"
          >
            <mat-icon class="mr-2">filter_5</mat-icon>Page 5
          </button>
          <mat-divider></mat-divider> -->
<!-- </div> -->
<!-- </mat-list>      
    </mat-drawer>
    <div style="display: inline">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</div> -->

<mat-toolbar color="primary" class="example-toolbar">
  <div style="display: flex; justify-content: center; align-items: center;">
    <button mat-icon-button (click)="isExpanded = !isExpanded" class="btn-expansivo">
      <mat-icon class="material-symbols-rounded">menu</mat-icon>
    </button>
  </div>
  <h1 class="example-app-name">GameHub</h1>
  <span class="example-spacer"></span>
  <mat-icon class="material-symbols-rounded">account_circle</mat-icon>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()"
    (mouseleave)="mouseleave()">
    <mat-nav-list>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent" routerLink="/home">
        <mat-icon mat-list-icon class="material-symbols-rounded icon-menu">home</mat-icon>
        <!-- <span class="full-width" *ngIf="isExpanded || isShowing">Parent Menu</span> -->
        <a class="menu-text" *ngIf="isExpanded || isShowing">Home</a>
        <!-- <mat-icon class="menu-button" [ngClass]="{ rotated: showSubmenu }"
          *ngIf="isExpanded || isShowing">expand_more</mat-icon> -->
      </mat-list-item>
      <mat-list-item routerLink="/promocoes">
        <mat-icon mat-list-icon class="material-symbols-rounded icon-menu">
          sell
        </mat-icon>
        <a class="menu-text" *ngIf="isExpanded || isShowing">Promoções</a>
      </mat-list-item>
      <mat-list-item routerLink="/biblioteca">
        <mat-icon mat-list-icon class="material-symbols-rounded icon-menu">
          stadia_controller
        </mat-icon>
        <a class="menu-text" *ngIf="isExpanded || isShowing">Biblioteca</a>
      </mat-list-item>
      <!-- <div class="submenu" [ngClass]="{ expanded: showSubmenu }" *ngIf="isShowing || isExpanded">
        <mat-icon mat-list-icon class="material-symbols-rounded icon-menu">sell</mat-icon>
        <a mat-list-item href="...">Submenu Item 1</a>
        <a mat-list-item href="...">Submenu Item 2</a>
        <mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
          <span class="full-width" *ngIf="isExpanded || isShowing">Nested Menu</span>
          <mat-icon class="menu-button" [ngClass]="{ rotated: showSubSubMenu }"
            *ngIf="isExpanded || isShowing">expand_more</mat-icon>
        </mat-list-item>
        <div class="submenu" [ngClass]="{ expanded: showSubSubMenu }" *ngIf="isShowing || isExpanded">
          <mat-list-item>SubSubmenu Item 1</mat-list-item>
          <mat-list-item>SubSubmenu Item 2</mat-list-item>
        </div>
      </div> -->
    </mat-nav-list>
  </mat-sidenav>
  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>