<div id="promocoes-page">
    <mat-grid-list cols="2" rowHeight="fit" gutterSize="1px" [style.height]="'200px'">
      <div style="height: 32px;"></div>
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4 card-image">
            <img src="./assets/baldurs_gate_III/mini_capa_baldurs_gate_III.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Baldur's Gate 3</h5>
              <img src="./assets/icons/icon_windows_11.svg" class="img-fluid rounded-start" alt="...">
              <mat-icon class="material-symbols-rounded">nutrition</mat-icon>
              <p class="card-text">RPG, ESCOLHAS importantes, Personalização do Personagem</p>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
      <div style="height: 32px;"></div>
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4 card-image">
            <img src="./assets/baldurs_gate_III/mini_capa_baldurs_gate_III.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Baldur's Gate 3</h5>
              <img src="./assets/icons/icon_windows_11.svg" class="img-fluid rounded-start" alt="...">
              <mat-icon class="material-symbols-rounded">nutrition</mat-icon>
              <p class="card-text">RPG, ESCOLHAS importantes, Personalização do Personagem</p>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </mat-grid-list>
    <stl-model-viewer [stlModels]="['./assets/3d_models/NesOnly.stl']"></stl-model-viewer>
  </div>