#promocoes-page {

    .mat-mdc-card-title {
      img {
        border-top-right-radius: 0.5rem;
        border-top-left-radius: 0.5rem;
      }
    }
  
    .card {
      background-color: #891ab5;
  
      .card-title {
        color: #FFF;
        font-weight: bold;
        font-size: 1rem;
        ;
      }
  
      .card-image {
        background-color: #891ab5;
      }
    }
  }