<app-menu-lateral></app-menu-lateral>
<div class="main-container">
    <div class="content">
        <form>
            <h1 class="form-title">Game HUB</h1>
            <mat-form-field class="form-input">
                <mat-label>Nome desenvolvedora</mat-label>
                <input matInput name="nome" />
            </mat-form-field>
            <mat-form-field class="form-input">
                <mat-label>Porte</mat-label>
                <input matInput name="porte" />
            </mat-form-field>
            <button mat-raised-button color="primary">Cadastrar desenvolvedora</button>
        </form>
    </div>
</div>