.main-container {
  background-image: url("../../../assets/background/background-login-cadastro.jpg");
  width: 100vw;
  height: 100vh;
}

.content {
  width: 80%;
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  left: 200px;
}

.content form {
  display: flex;
  flex-direction: column;
  background-color: #f07124;
  padding: 20px;
  border-radius: 10px;
  width: 28%;
  margin: 20px;
  height: 45%;
}

.form-input {
  width: 400px;
}

.form-title {
  font-size: 40px;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
