<app-menu-lateral></app-menu-lateral>
<div class="main-container">
  <p-toast></p-toast>
  <div class="content">
    <form [formGroup]="formulario" (ngSubmit)="cadastro()">
      <h1 class="form-title">Game HUB</h1>
      <mat-form-field class="form-input">
        <mat-label>Nome de usuário</mat-label>
        <input matInput formControlName="nomeUsuario" />
      </mat-form-field>

      <mat-form-field class="form-input">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Data de nascimento</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="dataNascimento"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="form-input">
        <mat-label>Senha</mat-label>
        <input type="password" matInput formControlName="senha" />
      </mat-form-field>
      <mat-form-field class="form-input">
        <mat-label>Confirmar senha</mat-label>
        <input type="password" matInput formControlName="confirmarSenha" />
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">
        Criar conta
      </button>
      <span class="mt-3 text-white"
        >Já possui uma conta?
        <a routerLink="/login" class="text-decoration-none text-black"
          >Clique aqui!</a
        ></span
      >
    </form>
  </div>
</div>
