<div class="main-container">
  <div class="card">
    <h1 class="text-white">Mais jogados</h1>
    <p-carousel
      [value]="products"
      [numVisible]="8"
      [numScroll]="1"
      [circular]="true"
    >
      <ng-template let-product pTemplate="item">
        <div
          class="border-1 surface-border border-round m-2 text-center py-2 px-2"
        >
          <div class="mb-3">
            <img
              src="{{ product.image }}"
              [alt]="product.name"
              class="w-6 shadow-2 w-100"
              style="cursor: pointer"
              (click)="showDialog(product.id)"
            />
          </div>
          <div>
            <h4 class="mb-1 text-white">{{ product.nome }}</h4>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
  <p-dialog
    header="{{ currentGame.nome }}"
    [(visible)]="visible"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
  >
    <img
      style="width: 900px; margin: 0 auto"
      src="{{ currentGame.image }}"
      alt="{{ currentGame.nome }}"
      class="mb-4"
    />
    <p class="m-0">
      {{ currentGame.descricao }}
    </p>
    <button class="mt-3" mat-raised-button color="primary">
      Adicionar na biblioteca
    </button>
  </p-dialog>
</div>
