#home-component {
  margin-top: 32px;

  .text-lancamentos {
    // height: 40px;

    a {
      color: #FFF;
      font-size: 1.5rem;
      text-decoration: none;
    }

    .mat-divider {
      // border-top-color: rgb(255 255 255 / 12%);
      border-top-color: rgb(255 255 255 / 44%);
    }
  }

  .carousel-caption {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    left: 0;
    right: 0;
  }

  .carousel-item {
    // width: 1280px;
    height: 720px;

    img {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .carousel-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Ajuste a cor e a opacidade conforme necessário */
    z-index: -1;
    /* Para colocar a div atrás do carrossel */
  }
}
.sugestoes-card-content {
  display: flex;

  .sugestoes-card {
    max-width: 400px;
    border-radius: 1rem;
    background-color: #6617cb;
    background-image: linear-gradient(315deg, #6617cb 0%, #cb218e 74%);
  
    .mdc-card__media {
      border-radius: 1rem;
    }
  
    .mat-mdc-card-title {
      font-weight: bold;
      color: #FFF;
    }
    .mat-mdc-card-content {
      color: #FFF;
    }
  
    .card-button {
      color: #FFF;
      a {
        font-size: 14px !important;
      }
    }
  }
}
